USE [MarketManageSystem]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 4.12.2023 08:41:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BuyProducts]    Script Date: 4.12.2023 08:41:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BuyProducts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[İsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.BuyProducts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 4.12.2023 08:41:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[IsStatus] [bit] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 4.12.2023 08:41:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[OrderDateTine] [datetime] NOT NULL,
	[İsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 4.12.2023 08:41:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Price] [float] NOT NULL,
	[Stock] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[IsStatus] [bit] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 4.12.2023 08:41:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[IsStatus] [bit] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SellProducts]    Script Date: 4.12.2023 08:41:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellProducts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[TotalPrice] [float] NOT NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SellProducts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4.12.2023 08:41:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[RoleId] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[IsStatus] [bit] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BuyProducts] ON 

INSERT [dbo].[BuyProducts] ([Id], [UserId], [ProductId], [Quantity], [İsDelete]) VALUES (1, 2, 2, 1, 0)
INSERT [dbo].[BuyProducts] ([Id], [UserId], [ProductId], [Quantity], [İsDelete]) VALUES (2, 2, 2, 1, 0)
INSERT [dbo].[BuyProducts] ([Id], [UserId], [ProductId], [Quantity], [İsDelete]) VALUES (3, 2, 3, 1, 0)
SET IDENTITY_INSERT [dbo].[BuyProducts] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Description], [IsStatus], [Image], [IsDelete]) VALUES (1, N'Meyve', N'Kırmızı Meyve', 1, N'C:\Users\Betül\Desktop\85b23826-8ebb-490e-a121-1b9953710552.jpg', 0)
INSERT [dbo].[Categories] ([Id], [Name], [Description], [IsStatus], [Image], [IsDelete]) VALUES (2, N'Sebze', N'Yeşil Sebze', 1, N'C:\Users\Betül\Desktop\955f2eec-5f05-41e5-bb7b-11a3c22ef22f.jpg', 0)
INSERT [dbo].[Categories] ([Id], [Name], [Description], [IsStatus], [Image], [IsDelete]) VALUES (3, N'Bakliyat', N'Bakliyat', 1, N'C:\Users\Betül\Desktop\69e83729-f05b-4c03-88e5-b33944aa937a.jpg', 0)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Price], [Stock], [CategoryId], [Name], [Description], [IsStatus], [Image], [IsDelete]) VALUES (1, 23, 23, 3, N'Kurufasulye', N'kuru', 1, N'C:\Users\Betül\Desktop\f1a6b1b2-506e-4b16-8018-d080df88e403.jpg', 0)
INSERT [dbo].[Products] ([Id], [Price], [Stock], [CategoryId], [Name], [Description], [IsStatus], [Image], [IsDelete]) VALUES (2, 23, 23, 1, N'Elma', N'Elma', 1, N'C:\Users\Betül\Desktop\image\elma.jpg', 0)
INSERT [dbo].[Products] ([Id], [Price], [Stock], [CategoryId], [Name], [Description], [IsStatus], [Image], [IsDelete]) VALUES (3, 24, 24, 3, N'Marul', N'Marul', 1, N'C:\Users\Betül\Desktop\f4886e86-c124-4fca-96dd-a7bac3f3e872.jpg', 0)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name], [Description], [IsStatus], [Image], [IsDelete]) VALUES (1, N'Admin', N'Admin', 1, N'C:\Users\Betül\Desktop\image\02d70cc7-4672-4da5-98d3-aada4fec0062.jpg', 0)
INSERT [dbo].[Roles] ([Id], [Name], [Description], [IsStatus], [Image], [IsDelete]) VALUES (2, N'User', N'User', 1, N'C:\Users\Betül\Desktop\image\4f5afaf3-f010-4f67-834a-c83ba8604424.jpg', 0)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Surname], [Email], [Password], [RoleId], [Name], [Description], [IsStatus], [Image], [IsDelete]) VALUES (1, N'user', N'user', N'user', 2, N'user', N'user', 1, N'C:\Users\Betül\Desktop\f668b1b4-4e21-454a-9761-1860ea263b99.jpg', 0)
INSERT [dbo].[Users] ([Id], [Surname], [Email], [Password], [RoleId], [Name], [Description], [IsStatus], [Image], [IsDelete]) VALUES (2, N'admin', N'admin', N'admin', 2, N'admin', N'admin', 1, N'C:\Users\Betül\Desktop\482ecf13-8b99-48b0-b018-d61d14d22eaf.jpg', 0)
INSERT [dbo].[Users] ([Id], [Surname], [Email], [Password], [RoleId], [Name], [Description], [IsStatus], [Image], [IsDelete]) VALUES (3, N'a', N'a', N'a', 1, N'bb', N'a', 1, N'C:\Users\Betül\Desktop\0653d848-ee8b-480b-8705-d010439611c1.jpg', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[BuyProducts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BuyProducts_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BuyProducts] CHECK CONSTRAINT [FK_dbo.BuyProducts_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[BuyProducts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BuyProducts_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BuyProducts] CHECK CONSTRAINT [FK_dbo.BuyProducts_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryId]
GO
ALTER TABLE [dbo].[SellProducts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SellProducts_dbo.Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SellProducts] CHECK CONSTRAINT [FK_dbo.SellProducts_dbo.Orders_OrderId]
GO
ALTER TABLE [dbo].[SellProducts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SellProducts_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SellProducts] CHECK CONSTRAINT [FK_dbo.SellProducts_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Roles_RoleId]
GO
